:root{
  --dark: #363636;
  --light: #EBEBEB;
  --purple: #814B6A;
  --yellow: #E1D266;
}

.heading1{
  font-size: 24px;
  color: var(--dark);
}

.heading2{
  font-size: 20px;
  color: var(--dark);
}

.normal{
  font-size: 16px;
  color: var(--dark);
}

.section{
  background-color: var(--light);
  margin: 20px;
  padding: 10px;
}

.pageLinks > li{
  color: var(--dark);
}

.pageLinks > li > a{
  color: var(--purple);
}

.topnav {
    overflow: hidden;
    background-color: var(--dark);
  }
  
  .topnav a {
    float: left;
    color: var(--light);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  .topnav a:hover {
    background-color: var(--light);
    color: black;
  }
  
  .topnav a.active {
    background-color: var(--purple);
    color: var(--light);
  }

  .topnav .icon {
    display: none;
  }

.imgCaseABS {background-image: "caseABS";}
.imgCaseAcrylic1 {background-image: "caseAcrylicSide";}
.imgCaseAcrylic2 {background-image: "caseAcrylicTop";}
.imgCaseAcrylic3 {background-image: "caseAcrylicTopSide";}

.card{
  color: var(--dark);
  background-size: cover;
  resize: both;
  height: auto;
  padding: 15rem 0 0;
}

.container{
  display: flex;
  flex: row nowrap;
  flex-grow: 1;
}

.container > li{
  margin: 20px;
  list-style-type: none;
  width: 25%;
}