:root{
  --dark: #363636;
  --light: #EBEBEB;
  --purple: #814B6A;
  --yellow: #E1D266;
}

.heading1{
  font-size: 24px;
  color: var(--dark);
}

.heading2{
  font-size: 20px;
  color: var(--dark);
}

.normal{
  font-size: 16px;
  color: var(--dark);
}

.container{
  background-color: var(--light);
  margin: 20px;
  padding: 10px;
}

.pageLinks > li{
  color: var(--dark);
}

.pageLinks > li > a{
  color: var(--purple);
}

.topnav {
    overflow: hidden;
    background-color: var(--dark);
  }
  
  .topnav a {
    float: left;
    color: var(--light);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  .topnav a:hover {
    background-color: var(--light);
    color: black;
  }
  
  .topnav a.active {
    background-color: var(--purple);
    color: var(--light);
  }

  .topnav .icon {
    display: none;
  }

.card{
  color: var(--dark);
  background-image: url(51BiAGWGA6L._AC_SL1000_.jpg);
  background-size: cover;
  resize: both;
  width: 200px;
  padding: 8rem 0 0;
}