:root{
  --dark: #363636;
  --light: #f2f2f2;
  --purple: #814B6A;
  --yellow: #E1D266;
}

.heading1{
  font-size: 26px;
  color: var(--dark);
}

.heading2{
  font-size: 22px;
  color: var(--dark);
}

.heading3, .heading2 > figure, .heading2 > li{
  font-size: 20px;
  color: var(--dark);
}

.normal, .heading3 > li{
  font-size: 16px;
  color: var(--dark);
}

.section{
  background-color: var(--light);
  margin: 20px;
  padding: 10px;
}

.footer{
  background-color: var(--light);
  padding: 30px;
}

.pageLinks > li{
  color: var(--dark);
}

.pageLinks > li > a{
  color: var(--purple);
}

.topnav {
    overflow: hidden;
    background-color: var(--dark);
  }
  
  .topnav a {
    float: left;
    color: var(--light);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  .topnav a:hover {
    background-color: var(--light);
    color: black;
  }
  
  .topnav a.active {
    background-color: var(--purple);
    color: var(--light);
  }

  .topnav .icon {
    display: none;
  }

.container {
  display: flex;
  flex-flow: row wrap;
  flex-grow: 1;
}

.container > li {
  list-style-type: none;
}

.image{
  display: block;
  position: relative;
}

.imgText{
  position: absolute;
  bottom: 0;
  background-color: #ebebeb;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  padding: 0.25rem;
  margin-bottom: 1rem;
}